<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/current_user.json.jbuilder",
      user: current_user
    ).html_safe %>;
    <% cookies.encrypted[:session_token] = session[:session_token] %>
    console.log("<%= session[:session_token] %>");
  <% end %>
</script>


<div id="root"></div>
