<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>;
  <% end %>
  window.logoURL = "<%= image_url('eris_logo.gif') %>";
  window.defaultIcon = "<%= image_url('default_icon.jpeg') %>";
</script>

<div id="root"></div>
