.channel-index {
  grid-area: channel-index;
  background: darken($base-color, 15%);
  padding: 5px;
}

.channel-link {
  border-radius: 5px;
  height: 50px;
  border: 1px solid darken($base-color, 15%);
  align-items: center;
  display: flex;
}

.channel-link a {
  color: #ccc;
  margin: 0;
  width: 100%;
}

.channel-link > * {
  padding: 10px;
  padding-left: 20px;
  display: block;
}

.channel-link:hover {
  background: rgba($tertiary-color, 0.25);
}

.channel-link:hover a {
  color: white;
}

.channel-link.fake {
  background: rgba($tertiary-color, 0.3);
}