.modal-session {
  display: grid;
  grid-template-columns: 60px [logo-start] 200px [logo-end] 30px 400px 1fr;
  grid-template-rows: 60px [logo-start] 200px [logo-end] 30px 340px 1fr;
  grid-template-areas:
    ". . . . ."
    ". logo . . ."
    ". . . . ."
    ". . . form ."
    ". . . . .";
}

.session-form {
  z-index: 1000;
  position: absolute;
  background: $base-color;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  grid-area: form;
  -webkit-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  position: absolute;
  grid-area: logo;
}

.logo img {
  width: 40px;
}

.logo h1 {
  margin-left: 10px;
  font-size: 32px;
  font-family: 'Notable', sans-serif;
  color: $accent-color;
}

.session-form input[type=submit] {
  width: 100%;
}

.session-form button {
  display: block;
  margin: 0 auto;
}