@mixin nth-triangle($n) {
  &:nth-of-type(#{$n}) {
    @content;
  }
}

@mixin nth-dot($n) {
  &:nth-of-type(#{$n + 3}) {
    @content;
  }
}

@mixin nth-circle($n) {
  &:nth-of-type(#{$n + 8}) {
    @content;
  }
}

@mixin nth-x($n) {
  &:nth-of-type(#{$n + 11}) {
    @content;
  }
}

@mixin nth-square($n) {
  &:nth-of-type(#{$n + 14}) {
    @content;
  }
}

@mixin nth-coin($n) {
  &:nth-of-type(#{$n + 18}) {
    @content;
  }
}

.bomb {
  margin-left: -481px;
  bottom: 335px;
}

.cartridge {
  margin-left: 250px;
  bottom: 392px;
}

.potion {
  margin-left: -609px;
  bottom: 10px;
}

.shield {
  margin-left: 423px;
  bottom: 10px;
}

.desktop {
  margin-left: -289.5px;
  bottom: 10px;
}

.android {
  margin-left: -548px;
  bottom: 10px;
}

.iphone {
  margin-left: -401.5px;
  bottom: 10px;
}

.controller {
  margin-left: -255px;
  bottom: 10px;
}

.laptop {
  margin-left: -4px;
  bottom: 10px;
}

.headphones {
  margin-left: 270px;
  bottom: 142px;
  transform: scale(0.75);
}

.block {
  margin-left: -239px;
  bottom: 462px;
}

.triangle {
  @include nth-triangle(2) {
    margin-left: -579px;
    bottom: 300px;
  }

  @include nth-triangle(1) {
    margin-left: 31px;
    bottom: 550px;
  }

  @include nth-triangle(3) {
    margin-left: -289px;
    bottom: 448px;
  }
}

.dot {
  @include nth-dot(1) {
    margin-left: -599px;
    bottom: 200px;
  }

  @include nth-dot(2) {
    margin-left: -319px;
    bottom: 600px;
  }

  @include nth-dot(3) {
    margin-left: 181px;
    bottom: 500px;
  }

  @include nth-dot(4) {
    margin-left: 531px;
    bottom: 600px;
  }

  @include nth-dot(5) {
    margin-left: 621px;
    bottom: 140px;
  }
}

.circle {
  @include nth-circle(1) {
    margin-left: -359px;
    bottom: 530px;
  }

  @include nth-circle(2) {
    margin-left: 576px;
    bottom: 280px;
  }

  @include nth-circle(3) {
    margin-left: -199px;
    bottom: 88px;
  }
}

.x {
  @include nth-x(1) {
    margin-left: 101px;
    bottom: 440px;
  }

  @include nth-x(2) {
    margin-left: 541px;
    bottom: 220px;
  }

  @include nth-x(3) {
    margin-left: -579px;
    bottom: 510px;
  }
}

.square {
  @include nth-square(1) {
    margin-left: 17px;
    bottom: 92px;
  }

  @include nth-square(2) {
    margin-left: 431px;
    bottom: 400px;
  }

  @include nth-square(3) {
    margin-left: 331px;
    bottom: 600px;
  }
}

.coin {
  @include nth-coin(1) {
    margin-left: -428px;
    bottom: 300px;
  }

  @include nth-coin(2) {
    margin-left: 80px;
    bottom: 530px;
  }
}

.splash {
  display: flex;
  justify-content: center;
}

.images-inner {
  position: relative;
  width: 100%;
  text-align: center;
  height: 638px;
}