// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: $base-color;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#root {
  height: 100%;
}

div[class*="modal-"] {
  background: $pastel-tertiary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

div.translucent {
  background: rgba($pastel-tertiary, 0.5);
}

h1 {
  text-align: center;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

input {
  box-sizing: border-box;
}

input:not([type="submit"]) {
  display: block;
  background: darken($base-color, 10%);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid darken($base-color, 20%);
}

input:not([type="submit"]):focus {
  border: 1px solid $accent-color;
}

input[type=submit], button {
  background: $accent-color;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

input[type=submit]:hover, button:hover {
  background: darken($accent-color, 10%);
}

label {
  color: lightgray;
  align-self: start;
  margin-bottom: 5px;
  box-sizing: border-box;

}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $base-color;
}

a {
  color: $tertiary-color;
  cursor: pointer;
  margin: 5px;
}

.icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darken($base-color, 10%);
  background-size: cover;
}

.large.icon {
  width: 100px;
  height: 100px;
}

i {
  font-size: 20px;
}

.modals-content {
  position: absolute;
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: $base-color;
  display: flex;
  justify-content: center;
}

.image-uploader {
  min-width: 128px;
  min-height: 128px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  overflow: visible;
  & input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
  }
  &:hover .image-uploader-message {
    opacity: 100;
  }
  & .image-uploader-message {
    position: absolute;
    transition: opacity 0.2s ease-in-out ;
    background: #00000090;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50%;
  }
  & .image-uploader-icon {
    background: lighten($base-color, 40%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

*[class*="scroll"] {
  overflow-y: auto;
}

*[class*="scroll"] > * {
  padding-left: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

.scroll-visible:hover::-webkit-scrollbar-track {
  background: -moz-linear-gradient(left, rgba($tertiary-color,0) 0%, rgba($tertiary-color,0.02) 2%, rgba($tertiary-color,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba($tertiary-color,0) 0%,rgba($tertiary-color,0.02) 2%,rgba($tertiary-color,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba($tertiary-color,0) 0%,rgba($tertiary-color,0.02) 2%,rgba($tertiary-color,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  width: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.scroll-visible:hover::-webkit-scrollbar-thumb {
  background: $accent-color;
}
