.update-user {
    background: $base-color;
    border-radius: 5px;
    border: darken($base-color, 20%) 1px solid;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    & > input[type=submit], > button {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
    }
    & .update-user-row {
        display: flex;
        flex-direction: row;
        border-bottom: lighten($base-color, 20%) 1px solid;
        width: 100%;
        margin-bottom: 25px;
        padding-bottom: 20px;
    }
    & .update-user-fields {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        & input {
            min-width: 200px;
            max-width: 500px;
        }
    }
    & label {
        margin-bottom: 10px;
        font-weight: 700;
        color: lighten($base-color, 20%);
        overflow: visible;
        width: 100%;
        & * {
            color: white;
            font-weight: 400;
        }
    }
    & .image-uploader {
        align-self: flex-start;
        margin: 0 20px;
    }
    & .update-user-buttons {
        margin-right: 0;
        margin-left: auto;
        align-self: flex-end;
        & a {
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}