.setting-nav {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  padding: 10px;
  background: $base-color;
  grid-area: setting-menu;
}

.modal-settings {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60px 120px 1fr;
  grid-template-areas: 
  "setting-menu . exit"
  "setting-menu user-settings ."
  "setting-menu . .";
}

.user-info {
  grid-area: user-settings;
  & img {
    width: 128px;
    height: 128px;
    border-radius: 50%;

  }
}